# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.tmp.driveupload

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/*.log

# Models (excepto los que queramos incluir explícitamente)


# Archivos temporales
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Entornos virtuales
venv/
.env/
ENV/
env/
